Pods
Podfile.lock
.DS_Store

PersonalLibrary.xcodeproj/xcuserdata/noelperez.xcuserdatad/
PersonalLibrary.xcworkspace/xcuserdata/noelperez.xcuserdatad/
PersonalLibrary.xcodeproj/xcuserdata/noelperez.xcuserdatad/xcschemes/PersonalLibrary.xcscheme
PersonalLibrary.xcodeproj/xcuserdata/noelperez.xcuserdatad/xcschemes/xcschememanagement.plist
PersonalLibrary.xcworkspace/xcuserdata/noelperez.xcuserdatad/UserInterfaceState.xcuserstate
PersonalLibrary.xcworkspace/xcuserdata/noelperez.xcuserdatad/WorkspaceSettings.xcsettings
PersonalLibrary.xcworkspace/xcuserdata/noelperez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PersonalLibrary.xcworkspace/xcuserdata/noelperez.xcuserdatad/
PersonalLibrary.xcodeproj/project.xcworkspace/xcuserdata/noelperez.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

PersonalLibrary.xcodeproj/xcuserdata/noelcperez.xcuserdatad/
PersonalLibrary.xcworkspace/xcuserdata/noelcperez.xcuserdatad/
PersonalLibrary.xcodeproj/xcuserdata/noelcperez.xcuserdatad/xcschemes/PersonalLibrary.xcscheme
PersonalLibrary.xcodeproj/xcuserdata/noelcperez.xcuserdatad/xcschemes/xcschememanagement.plist
PersonalLibrary.xcworkspace/xcuserdata/noelcperez.xcuserdatad/UserInterfaceState.xcuserstate
PersonalLibrary.xcworkspace/xcuserdata/noelcperez.xcuserdatad/WorkspaceSettings.xcsettings
PersonalLibrary.xcworkspace/xcuserdata/noelcperez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
PersonalLibrary.xcworkspace/xcuserdata/noelcperez.xcuserdatad/
PersonalLibrary.xcodeproj/project.xcworkspace/xcuserdata/noelcperez.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.app.dSYM.zip

fastlane/report.xml
fastlane/README.md
fastlane/screenshots