<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>780456007923-bjhmfv6509jmnlg9ukag9516kqd4unh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780456007923-bjhmfv6509jmnlg9ukag9516kqd4unh1</string>
	<key>API_KEY</key>
	<string>AIzaSyAlu1wtv7R8ODJ5T1p2mtsN3pp-BftBSMA</string>
	<key>GCM_SENDER_ID</key>
	<string>780456007923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noelcperez.personallibrary</string>
	<key>PROJECT_ID</key>
	<string>personallibrary-8652e</string>
	<key>STORAGE_BUCKET</key>
	<string>personallibrary-8652e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780456007923:ios:e4cac51b594e7df4</string>
	<key>DATABASE_URL</key>
	<string>https://personallibrary-8652e.firebaseio.com</string>
</dict>
</plist>